openapi: 3.2.0
info:
  title: Solar Edge Equipment API
  x-refined-note:
  - x-api-id differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Equipment across 3 of this provider''s published API definitions: openapi.yml, solar-edge-monitoring-api-openapi.yml, solar-edge-monitoring-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://monitoringapi.solaredge.com
  description: SolarEdge Monitoring API production server
tags:
- name: Equipment
  description: Inverters, batteries, meters, sensors, and inventory
paths:
  /site/{siteId}/inventory:
    get:
      operationId: getSiteInventory
      summary: Get Site Inventory
      description: Returns the inventory of SolarEdge equipment at the site, including inverters/SMIs, batteries, meters, gateways, and sensors with their serial numbers and status.
      tags:
      - Equipment
      parameters:
      - $ref: '#/components/parameters/siteId'
      responses:
        '200':
          description: Site equipment inventory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - ApiKeyQuery: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production server
  /equipment/{siteId}/list:
    get:
      operationId: getComponentsList
      summary: Get Components List
      description: Returns a list of inverters and SMIs in the specified site.
      tags:
      - Equipment
      parameters:
      - name: siteId
        in: path
        required: true
        description: Unique identifier for the site
        schema:
          type: integer
      responses:
        '200':
          description: List of site components
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentsListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - ApiKeyQuery: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production server
  /site/{siteId}/inverter/{serialNumber}/data:
    get:
      operationId: getInverterTechnicalData
      summary: Get Inverter Technical Data
      description: Returns technical performance data for a specific inverter over a given time period. Maximum date range is 1 week (7 days).
      tags:
      - Equipment
      parameters:
      - $ref: '#/components/parameters/siteId'
      - name: serialNumber
        in: path
        required: true
        description: Inverter serial number
        schema:
          type: string
      - name: startTime
        in: query
        required: true
        description: Start date-time in "YYYY-MM-DD HH:MM:SS" format
        schema:
          type: string
      - name: endTime
        in: query
        required: true
        description: End date-time in "YYYY-MM-DD HH:MM:SS" format
        schema:
          type: string
      responses:
        '200':
          description: Inverter technical performance data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InverterTechnicalDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - ApiKeyQuery: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production server
  /site/{siteId}/{serialNumber}/changeLog:
    get:
      operationId: getEquipmentChangeLog
      summary: Get Equipment Change Log
      description: Returns a list of equipment component replacements ordered by date. Applicable to inverters, optimizers, batteries, and gateways.
      tags:
      - Equipment
      parameters:
      - $ref: '#/components/parameters/siteId'
      - name: serialNumber
        in: path
        required: true
        description: Serial number of the equipment component
        schema:
          type: string
      responses:
        '200':
          description: Equipment change log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentChangeLogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - ApiKeyQuery: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production server
  /site/{siteId}/meters:
    get:
      operationId: getSiteMeters
      summary: Get Site Meters
      description: Returns meter data for the site including lifetime energy reading, metadata, and the device to which each meter is connected.
      tags:
      - Equipment
      parameters:
      - $ref: '#/components/parameters/siteId'
      - name: startTime
        in: query
        required: true
        description: Start date-time in "YYYY-MM-DD HH:MM:SS" format
        schema:
          type: string
      - name: endTime
        in: query
        required: true
        description: End date-time in "YYYY-MM-DD HH:MM:SS" format
        schema:
          type: string
      - $ref: '#/components/parameters/timeUnit'
      - name: meters
        in: query
        description: Comma-separated list of meter types to include
        schema:
          type: string
          example: Production,Consumption,FeedIn,Purchased
      responses:
        '200':
          description: Meter data for the site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - ApiKeyQuery: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production server
  /equipment/{siteId}/sensors:
    get:
      operationId: getSensorList
      summary: Get Sensor List
      description: Returns a list of all sensors at the site and the device to which they are connected.
      tags:
      - Equipment
      parameters:
      - name: siteId
        in: path
        required: true
        description: Unique identifier for the site
        schema:
          type: integer
      - name: startTime
        in: query
        description: Start date-time for sensor data (ISO 8601 format YYYY-MM-DDTHH:MM:SS); if provided returns sensor data
        schema:
          type: string
      - name: endTime
        in: query
        description: End date-time for sensor data (ISO 8601 format YYYY-MM-DDTHH:MM:SS); if provided returns sensor data
        schema:
          type: string
      responses:
        '200':
          description: Sensor list or sensor data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - ApiKeyQuery: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production server
  /equipment/{siteId}/{serialNumber}/data:
    get:
      operationId: getEquipmentData
      summary: Inverter Technical Data
      description: Returns specific inverter data for a given timeframe.
      tags:
      - Equipment
      parameters:
      - $ref: '#/components/parameters/siteId_2'
      - $ref: '#/components/parameters/serialNumber'
      - $ref: '#/components/parameters/startTime'
      - $ref: '#/components/parameters/endTime'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - api_key: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production host
  /equipment/{siteId}/{serialNumber}/changeLog:
    get:
      operationId: getEquipmentChangeLog
      summary: Equipment Change Log
      description: Returns a list of equipment component replacements ordered by date for a given component serial number.
      tags:
      - Equipment
      parameters:
      - $ref: '#/components/parameters/siteId_2'
      - $ref: '#/components/parameters/serialNumber'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - api_key: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production host
  /site/{siteId}/sensors:
    get:
      operationId: getSiteSensorData
      summary: Get Sensor Data
      description: Returns the data of all the sensors in the site, by the gateway they are connected to.
      tags:
      - Equipment
      parameters:
      - $ref: '#/components/parameters/siteId_2'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - api_key: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production host
components:
  schemas:
    InventoryResponse:
      type: object
      properties:
        Inventory:
          type: object
          properties:
            inverters:
              type: array
              items:
                $ref: '#/components/schemas/Inverter'
            batteries:
              type: array
              items:
                $ref: '#/components/schemas/InventoryBattery'
            meters:
              type: array
              items:
                $ref: '#/components/schemas/Meter'
            gateways:
              type: array
              items:
                $ref: '#/components/schemas/Gateway'
            sensors:
              type: array
              items:
                $ref: '#/components/schemas/Sensor'
    Meter:
      type: object
      properties:
        name:
          type: string
        manufacturer:
          type: string
        model:
          type: string
        firmwareVersion:
          type: string
        connectedSolaredgeDeviceSN:
          type: string
        type:
          type: string
        form:
          type: string
    MetersResponse:
      type: object
      properties:
        meterEnergyDetails:
          type: object
          properties:
            timeUnit:
              type: string
            unit:
              type: string
            meterSerialNumber:
              type: string
            connectedSolaredgeDeviceSN:
              type: string
            model:
              type: string
            meterType:
              type: string
            values:
              type: array
              items:
                $ref: '#/components/schemas/TimedValue'
    EquipmentChangeLogResponse:
      type: object
      properties:
        ChangeLog:
          type: object
          properties:
            count:
              type: integer
            list:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                    description: Date of equipment change
                  serialNumber:
                    type: string
                    description: Serial number of replacement component
                  partNumber:
                    type: string
                    description: Part number of replacement component
    SensorListResponse:
      type: object
      properties:
        SiteSensors:
          type: object
          properties:
            count:
              type: integer
            list:
              type: array
              items:
                type: object
                properties:
                  connectedSolaredgeDeviceSN:
                    type: string
                  count:
                    type: integer
                  sensors:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sensor'
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: HTTP status code
        message:
          type: string
          description: Human-readable error message
    InventoryBattery:
      type: object
      properties:
        name:
          type: string
        serialNumber:
          type: string
        model:
          type: string
        manufacturer:
          type: string
        firmwareVersion:
          type: string
        connectedInverterSn:
          type: string
        nameplateCapacity:
          type: number
          format: float
    ComponentsListResponse:
      type: object
      properties:
        list:
          type: object
          properties:
            count:
              type: integer
            list:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  manufacturer:
                    type: string
                  model:
                    type: string
                  serialNumber:
                    type: string
                  kWpDC:
                    type: number
                    format: float
    Sensor:
      type: object
      properties:
        connectedSolaredgeDeviceSN:
          type: string
        id:
          type: string
        connectedTo:
          type: string
        category:
          type: string
        type:
          type: string
    TimedValue:
      type: object
      properties:
        date:
          type: string
          description: Measurement date/time
        value:
          type:
          - number
          - 'null'
          format: float
          description: Measured value (null if no data)
    PhaseData:
      type: object
      properties:
        acCurrent:
          type: number
          format: float
          description: AC current in A
        acVoltage:
          type: number
          format: float
          description: AC voltage in V
        acFrequency:
          type: number
          format: float
          description: AC frequency in Hz
        apparentPower:
          type: number
          format: float
          description: Apparent power in VA
        activePower:
          type: number
          format: float
          description: Active power in W
        reactivePower:
          type: number
          format: float
          description: Reactive power in VAR
        cosPhi:
          type: number
          format: float
          description: Power factor (cos phi)
    Inverter:
      type: object
      properties:
        name:
          type: string
        manufacturer:
          type: string
        model:
          type: string
        serialNumber:
          type: string
        kWpDC:
          type: number
          format: float
        communicationMethod:
          type: string
        cpuVersion:
          type: string
        SN:
          type: string
        connectedOptimizers:
          type: integer
    Gateway:
      type: object
      properties:
        name:
          type: string
        serialNumber:
          type: string
        firmwareVersion:
          type: string
    InverterTelemetry:
      type: object
      properties:
        date:
          type: string
          description: Measurement timestamp
        totalActivePower:
          type: number
          format: float
          description: Total active power in W
        dcVoltage:
          type: number
          format: float
          description: DC voltage in V
        groundFaultResistance:
          type: number
          format: float
          description: Ground fault resistance
        powerLimit:
          type: number
          format: float
          description: Power limit percentage
        totalEnergy:
          type: number
          format: float
          description: Total lifetime energy in Wh
        temperature:
          type: number
          format: float
          description: Inverter temperature in Celsius
        inverterMode:
          type: string
          description: Current inverter operating mode
        operationMode:
          type: integer
          description: Numeric operation mode code
        L1Data:
          $ref: '#/components/schemas/PhaseData'
        L2Data:
          $ref: '#/components/schemas/PhaseData'
        L3Data:
          $ref: '#/components/schemas/PhaseData'
    InverterTechnicalDataResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            count:
              type: integer
            telemetries:
              type: array
              items:
                $ref: '#/components/schemas/InverterTelemetry'
    Problem:
      type: object
      description: RFC 9457 problem details envelope returned by the SolarEdge Monitoring API on errors.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type:
          - string
          - 'null'
        properties:
          type: object
          properties:
            traceId:
              type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Site or resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: The api_key/site daily query quota has been exceeded.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized_2:
      description: Authentication failed (missing or invalid api_key).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://se-api.stoplight.io/docs/monitoring
            title: Unauthorized - Authentication Failed
            status: 401
            detail: Invalid API key
            instance: null
            properties:
              traceId: 6a5f1ad81a5cfa8cd685fc4401bd7770
    OK:
      description: Successful response.
      content:
        application/json:
          schema:
            type: object
  parameters:
    timeUnit:
      name: timeUnit
      in: query
      description: Time aggregation unit for energy data
      schema:
        type: string
        enum:
        - QUARTER_OF_AN_HOUR
        - HOUR
        - DAY
        - WEEK
        - MONTH
        - YEAR
        default: DAY
    siteId:
      name: siteId
      in: path
      required: true
      description: Unique numeric identifier for the site. Supports comma-separated values for bulk requests (up to 100 site IDs).
      schema:
        type: string
        example: '12345'
    startDate:
      name: startDate
      in: query
      required: true
      description: Start date in yyyy-MM-dd format.
      schema:
        type: string
        format: date
    siteId_2:
      name: siteId
      in: path
      required: true
      description: The site identifier.
      schema:
        type: integer
    serialNumber:
      name: serialNumber
      in: path
      required: true
      description: The inverter/component short serial number.
      schema:
        type: string
    endTime:
      name: endTime
      in: query
      required: true
      description: End timestamp in yyyy-MM-dd HH:mm:ss format.
      schema:
        type: string
    endDate:
      name: endDate
      in: query
      required: true
      description: End date in yyyy-MM-dd format.
      schema:
        type: string
        format: date
    timeUnit_2:
      name: timeUnit
      in: query
      description: Aggregation granularity.
      schema:
        type: string
        enum:
        - QUARTER_OF_AN_HOUR
        - HOUR
        - DAY
        - WEEK
        - MONTH
        - YEAR
    startTime:
      name: startTime
      in: query
      required: true
      description: Start timestamp in yyyy-MM-dd HH:mm:ss format.
      schema:
        type: string
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: API key generated through the SolarEdge monitoring portal
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: API key generated in the SolarEdge monitoring platform under Admin > Site Access > API Access. Passed as the api_key query parameter on every request.
x-refined-from:
- openapi.yml
- solar-edge-monitoring-api-openapi.yml
- solar-edge-monitoring-openapi.yml
