openapi: 3.2.0
info:
  title: Solar Edge Version API
  x-refined-note:
  - x-api-id differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Version across 3 of this provider''s published API definitions: openapi.yml, solar-edge-monitoring-api-openapi.yml, solar-edge-monitoring-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://monitoringapi.solaredge.com
  description: SolarEdge Monitoring API production server
tags:
- name: Version
  description: API version information
paths:
  /version/current:
    get:
      operationId: getCurrentApiVersion
      summary: Get Current API Version
      description: Returns the current version number of the SolarEdge Monitoring API.
      tags:
      - Version
      responses:
        '200':
          description: Current API version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionResponse'
      security:
      - ApiKeyQuery: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production server
  /version/supported:
    get:
      operationId: getSupportedApiVersions
      summary: Get Supported API Versions
      description: Returns the list of all supported API version numbers.
      tags:
      - Version
      responses:
        '200':
          description: Supported API versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedVersionsResponse'
      security:
      - ApiKeyQuery: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production server
components:
  schemas:
    SupportedVersionsResponse:
      type: object
      properties:
        supported:
          type: object
          properties:
            release:
              type: array
              items:
                type: string
              description: List of supported API version strings
    ApiVersionResponse:
      type: object
      properties:
        version:
          type: object
          properties:
            release:
              type: string
              description: Current API release version (e.g., "1.0.0")
    Problem:
      type: object
      description: RFC 9457 problem details envelope returned by the SolarEdge Monitoring API on errors.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type:
          - string
          - 'null'
        properties:
          type: object
          properties:
            traceId:
              type: string
  responses:
    OK:
      description: Successful response.
      content:
        application/json:
          schema:
            type: object
    Unauthorized:
      description: Authentication failed (missing or invalid api_key).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://se-api.stoplight.io/docs/monitoring
            title: Unauthorized - Authentication Failed
            status: 401
            detail: Invalid API key
            instance: null
            properties:
              traceId: 6a5f1ad81a5cfa8cd685fc4401bd7770
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: API key generated through the SolarEdge monitoring portal
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: API key generated in the SolarEdge monitoring platform under Admin > Site Access > API Access. Passed as the api_key query parameter on every request.
x-refined-from:
- openapi.yml
- solar-edge-monitoring-api-openapi.yml
- solar-edge-monitoring-openapi.yml
