openapi: 3.2.0
info:
  title: Solar Edge Storage API
  x-refined-note:
  - x-api-id differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Storage across 3 of this provider''s published API definitions: openapi.yml, solar-edge-monitoring-api-openapi.yml, solar-edge-monitoring-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://monitoringapi.solaredge.com
  description: SolarEdge Monitoring API production server
tags:
- name: Storage
  description: Battery storage data
paths:
  /site/{siteId}/storageData:
    get:
      operationId: getSiteStorageData
      summary: Get Storage Data
      description: Returns battery state of energy (SoE), power, and lifetime energy for storage devices at a site. Maximum date range is 1 week (7 days).
      tags:
      - Storage
      parameters:
      - $ref: '#/components/parameters/siteId'
      - name: startTime
        in: query
        required: true
        description: Start date-time in "YYYY-MM-DD HH:MM:SS" format
        schema:
          type: string
      - name: endTime
        in: query
        required: true
        description: End date-time in "YYYY-MM-DD HH:MM:SS" format
        schema:
          type: string
      - name: serials
        in: query
        description: Comma-separated list of battery serial numbers to filter results
        schema:
          type: string
      responses:
        '200':
          description: Battery storage measurements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageDataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - ApiKeyQuery: []
    servers:
    - url: https://monitoringapi.solaredge.com
      description: SolarEdge Monitoring API production server
components:
  parameters:
    siteId:
      name: siteId
      in: path
      required: true
      description: Unique numeric identifier for the site. Supports comma-separated values for bulk requests (up to 100 site IDs).
      schema:
        type: string
        example: '12345'
    siteId_2:
      name: siteId
      in: path
      required: true
      description: The site identifier.
      schema:
        type: integer
    endTime:
      name: endTime
      in: query
      required: true
      description: End timestamp in yyyy-MM-dd HH:mm:ss format.
      schema:
        type: string
    startTime:
      name: startTime
      in: query
      required: true
      description: Start timestamp in yyyy-MM-dd HH:mm:ss format.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Site or resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: The api_key/site daily query quota has been exceeded.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized_2:
      description: Authentication failed (missing or invalid api_key).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://se-api.stoplight.io/docs/monitoring
            title: Unauthorized - Authentication Failed
            status: 401
            detail: Invalid API key
            instance: null
            properties:
              traceId: 6a5f1ad81a5cfa8cd685fc4401bd7770
    OK:
      description: Successful response.
      content:
        application/json:
          schema:
            type: object
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: HTTP status code
        message:
          type: string
          description: Human-readable error message
    StorageDataResponse:
      type: object
      properties:
        storageData:
          type: object
          properties:
            batteryCount:
              type: integer
            batteries:
              type: array
              items:
                $ref: '#/components/schemas/Battery'
    Battery:
      type: object
      properties:
        nameplate:
          type: number
          description: Battery nameplate capacity in Wh
        serialNumber:
          type: string
        modelNumber:
          type: string
        telemetries:
          type: array
          items:
            $ref: '#/components/schemas/BatteryTelemetry'
    BatteryTelemetry:
      type: object
      properties:
        timeStamp:
          type: string
          description: Measurement timestamp
        power:
          type: number
          format: float
          description: Charge/discharge power in W (positive = charging)
        batteryState:
          type: integer
          description: Battery operational state code
        lifeTimeEnergyCharged:
          type: number
          format: float
          description: Lifetime energy charged in Wh
        lifeTimeEnergyDischarged:
          type: number
          format: float
          description: Lifetime energy discharged in Wh
        fullPackEnergyAvailable:
          type: number
          format: float
          description: Full pack energy available in Wh
        internalTemp:
          type: number
          format: float
          description: Internal battery temperature in Celsius
        ACGridCharging:
          type: number
          format: float
          description: AC grid charging power in W
    Problem:
      type: object
      description: RFC 9457 problem details envelope returned by the SolarEdge Monitoring API on errors.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type:
          - string
          - 'null'
        properties:
          type: object
          properties:
            traceId:
              type: string
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: API key generated through the SolarEdge monitoring portal
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: API key generated in the SolarEdge monitoring platform under Admin > Site Access > API Access. Passed as the api_key query parameter on every request.
x-refined-from:
- openapi.yml
- solar-edge-monitoring-api-openapi.yml
- solar-edge-monitoring-openapi.yml
